body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*l7iT8EWPnSJKPKAhugC8gA.png');
    background-size: cover;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}